

@*@if (ShowHomeLink)
{
    <div class="text-center">
        <NavLink href="/">
            <h5 class="pests-component-home-link hover-pointer">Home</h5>
        </NavLink>
    </div>
}*@

<div class="row" style="max-width:1200px;margin:auto">



    @foreach (string pest in Global.PestsList)
    {
        <div class="col text-center pests-component">
            <NavLink href="@("pests/" + pest.ToLower())" @onclick="@(() =>
                                                                     {
                                                                         Global.SetSelectedPestItem(pest);
                                                                     })">

                <div class="pests-component-background @(pest == Global.selectedPestItem ? "selected" : null)">
                    <img class="img-fluid" src="@($"/icons/{pest.ToLower()}.svg")" />
                </div>
                <h4 class="pests-component-title" style="color:white!important">@pest</h4>

            </NavLink>
        </div>
    }
</div>
<CallToday />
<hr />
<br />
<br />

@code{
    [Parameter]
    public bool ShowHomeLink { get; set; } = true;
}